body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.select-item-color {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.select-item-color-container {
  margin-left: auto;
  padding-left: 5px;
}

.select-item-icon {
  margin-left: auto;
  padding-left: 5px;
}
